# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
.next
out
build

# Turbo
.turbo

# Environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage
coverage

# OS
.DS_Store
Thumbs.db

# Docker volumes
postgres_data
redis_data
minio_data

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
prisma/migrations/**/migration.sql
